body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
 background-color: rgb(30 41 59 / var(--tw-bg-opacity, 1));
}
.array {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.box {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #333;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}
.box.default {
  background-color: #f0f0f0;
}
.box.active {
  background-color: #ffc107;
  color: white;
}
.box.found {
  background-color: #28a745;
  color: white;
}
.box.checked {
  background-color: #dc3545;
  color: white;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
input {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  width: 200px;
}
.box.removed {
  background-color: #6c757d;
  color: white;
  opacity: 0.5;
  transition: opacity 0.5s;
}
